body{
    background-color: antiquewhite;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    background-color:red;
    padding: 50px;

 }
 h1,h2{
    color:blueviolet;
 }